.MyServiceCard {
  display: flex;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #dee2e6;
  gap: 16px;

  &__thumb {
    height: 120px;
    width: 180px;
    border-radius: 8px;
    background: #e9ecef;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    &--placeholder {
      background: #e9ecef;
    }
  }

  &__center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-weight: 600;
    margin: 0;
  }

  &__status {
    padding: 2px 8px;
    border-radius: 6px;
  }

  &__meta {
    display: flex;
    align-items: center;
  }

  &__time {
    color: #525252;
    margin-left: 10px;
  }

  &__created {
    margin: 0;
    font-size: 12px;
    color: #525252;
  }

  &__desc {
    margin-top: 6px;
    font-size: 14px;
    margin-bottom: 0;
    color: #525252;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;
    font-size: 14px;
  }

  &__info-col {
    display: flex;
    flex-direction: column;
  }

  &__info-label {
    color: #525252;
  }

  &__tags {
    margin-top: 10px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }

  &__tag {
    background: #18181b;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
  }

  &__actions {
    display: flex;
    gap: 10px;

    .rs-btn {
      border-radius: 8px;
    }

    &--my {
      display: flex;
      gap: 8px;
    }
  }

  &__profileBtn,
  &__editBtn,
  &__deleteBtn {
    border: 1px solid #dee2e6;
  }

  &__writeBtn {
    background-color: #e65400;
    color: #fff;
  }

  &__deleteBtn {
    color: #dc3545;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;

    &--my {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      justify-content: space-between;
    }
  }
}
