.footer {
  width: 100%;
  max-height: 50px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: #fff;
  /* border-top: 1px solid var(--grey-borderline); */

  .paragraph {
    padding-left: 24px;
    padding-right: 24px;

    > p {
      font-size: 12px;
    }
  }
}
