.wrapper {
  display: flex;
  &__maincont {
    margin: 0;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100dvw;
    height: 100dvh;
  }
  &__content {
    flex: 1;
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
}
