.CategoryTabs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 14px;

  &__item {
    padding: 7px 18px;
    border: 1px solid var(--grey-borderline);
    border-radius: 20px;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    transition: color 0.2s ease;
    text-align: center;

    &--active {
      background-color: #111;
      color: white;
      border-color: #111;
    }

    &:hover {
      background-color: #111;
      color: white;
      border-color: #111;
    }

    &:focus,
    &:active {
      background-color: #111;
      color: white;
      border-color: #111;
    }
  }
}
