$breakpoint-0: 1500px;
$breakpoint-1: 1300px;
$breakpoint-2: 1020px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 450px;
$breakpoint-6: 390px;

@mixin respond($point) {
  @media (max-width: $point) {
    @content;
  }
}
