html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /*Борис тоже почекай как будем делать */
}

:root {
  --grey-borderline: #d2d2d7;

  --orange-hover: rgba(230, 84, 0, 0.71);
  --orange: #e65400;

  --yellow: #f59e0b;

  --white: #fff;

  --text-gray: #525252;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.greytext {
  color: var(--rs-gray-600);
}

.input-label {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 12px;
}

p,
.maintext {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.smalltext {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.link {
  font-weight: 600;
  color: var(--orange);
  text-decoration: underline;
}

.link:hover {
  color: var(--orange-hover);
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100dvh;
}

.main-block-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* критично для flex-контейнеров */
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
