.FiltersGroup {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 12px 16px;
    padding: 24px 0;
  }

  &__filter-label {
    font-size: 16px;
    color: #555;
    font-weight: 700;
  }

  &__filter-group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &--sort {
      gap: 8px;

      &--pickers {
        display: flex;
        gap: 8px;
      }
    }
  }

  &__price-inputs {
    display: flex;
    gap: 8px;

    .rs-input {
      width: 120px;

      &:hover,
      &:focus {
        border-color: var(--orange);
        outline: var(--orange);
      }
    }
  }

  &__picker {
    .rs-picker-toggle {
      /* border-color: var(--grey-borderline) !important; */
      /* border-radius: 8px !important;
      padding: 11px 21px !important; */
      outline: transparent !important;

      &:focus,
      &:focus-within,
      &:hover {
        border-color: var(--orange) !important;
        box-shadow: 0 0 0 2px rgba(255, 122, 0, 0.2) !important;
        outline: none;
      }

      &-value {
        color: var(--text-primary) !important;
      }

      /* &-indicator {
        display: none !important;
      } */
    }
  }

  &__error {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 4px;
  }
}

.rs-picker-select-menu-item:not(.rs-picker-select-menu-item-active):hover {
  background-color: var(--orange) !important;
  color: white !important;
}

.rs-picker-select-menu-item-active {
  background-color: var(--orange) !important;
  color: white !important;
}
