// стили карточки да
.ServiceCard {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background: white;
  transition: transform 0.2s ease;
  min-height: 405px;
  border: 1px solid var(--grey-borderline);
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.01); // чтобы живее крч была
    cursor: pointer; // нууу типо наверн при наведении на нее у нас она должна открываться наверн
  }

  // верх
  &__top {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  // заголовок
  &__top-text {
    text-align: center;
    max-width: 80%;
  }

  // тело
  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  // заголовок услуги
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-red);
    margin: 2px 0 8px 0;
  }

  // мужик
  &__worker {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    // фотк мужика
    &-img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }

    // фио мужика
    &-name {
      font-size: 14px;
      color: var(--text-primary);
      font-weight: 500;
    }

    // оценк мужика
    &-rating {
      font-size: 14px;
      color: var(--yellow);
      display: flex;
      align-items: center;
      gap: 2px;

      svg {
        font-size: 12px;
      }
    }
  }

  &__star {
    font-size: 14px;
    color: var(--yellow);
    font-weight: bold;
  }

  // описание услуги
  &__description {
    font-size: 14px;
    color: var(--text-gray);
    margin: 0 0 12px;
    line-height: 1.4;
  }

  // футер карточк
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid var(--grey-borderline);
  }

  // цена услуги
  &__price {
    font-weight: 600;
    color: var(
      --orange
    ); // на макете черный текст цены но я подумал оранжевый мб интереснее смотрится
    font-size: 16px;
  }

  // число заказов
  &__orders {
    font-size: 14px;
    color: var(--text-gray);
  }
}
