.FavoritesPage {
  padding: 32px 48px;
  background-color: #f5f5f5;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    &--empty,
    &--load {
      display: flex;
      justify-content: center;
    }
  }
  &__empty-title,
  &__empty-sub {
    grid-column: 1 / -1;
    text-align: center;
    padding: 32px 0;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
  }

  &__empty-sub {
    padding: 0;
    font-size: 16px;
  }

  &__title {
    font-size: 28px;
  }

  &__pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}
