.FavoritesPage {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    &--empty,
    &--load {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-size: 28px;
  }
}
