.FavoritesPage {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }

  &__title {
    font-size: 28px;
  }
}

.FavoriteItem {
  position: relative;
  display: flex;
  align-items: stretch;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  gap: 24px;
  border: 1px solid #dee2e6;

  &__left {
    display: flex;
    justify-content: center;
  }

  &__thumb {
    object-fit: cover;
    width: 180px;
    height: 120px;
    border-radius: 10px;
    background: #e9ecef;
    border: 1px solid #dee2e6;
  }

  &__center {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__row--top {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  &__worker {
    margin-right: 10px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }

  &__desc {
    margin: 0;
    color: #525252;
    font-size: 14px;
  }

  &__tags {
    display: flex;
    gap: 8px;
    margin-top: 24px;
  }

  &__tag {
    background: #111;
    color: #fff;
    padding: 6px 10px;
    border-radius: 999px;
    font-size: 11.5px;
  }

  &__info {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
  }

  &__info-col {
    min-width: 120px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  &__removeBtn {
    align-self: flex-end;
    border: 1px solid #dee2e6;
    padding: 9px 17px;
  }

  &__actions {
    display: flex;
    margin-top: auto;
    gap: 8px;
  }

  &__profileBtn {
    border: 1px solid #dee2e6;
    padding: 6px 18px;
  }

  &__messageBtn {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 18px;

    &:hover {
      background-color: var(--orange-hover);
    }
  }
}
